name: Build and Test

on: pull_request  

permissions:
  contents: read

jobs:
  linux_build_and_test:
    strategy:
      matrix:
        runner:
          - ubuntu-22.04
      fail-fast: false
    runs-on: ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/setup-linux
      - uses: ./.github/actions/build-linux

  cuda_build_and_test:
    if: github.repository == 'ml-explore/mlx'
    runs-on: gpu-t4-4-core
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/setup-linux
        with:
          runner-type: 'cuda'
      - uses: ./.github/actions/build-cuda
